@use '../constants';

.outline-btn {
  min-width: 10rem;
  width: max-content;
  cursor: pointer;
  color: constants.$white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  padding: 0.5rem;
  background: none;
  border: 1px constants.$white solid;
  border-radius: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: 150ms ease-in-out;
}


.outline-btn:hover {
  background: constants.$white;
  color: constants.$black;
  // padding: 0.45rem;
}


.btn-active {
  background: constants.$white;
  color: constants.$black;
  border-radius: 16px;
}


@media screen and (max-width: 768px) {
  .outline-btn {
    cursor: default;
  }
}