@use '../mixins';
@use '../constants';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 500;
  @include mixins.font-size(32);
}

p {
  font-family: 'Rubik', sans-serif;
}

.heading-txt {
  font-size: 6rem;
  font-weight: 500;
  max-width: 50%;
  line-height: 1.2;
}

.body-txt {
  margin-top: 16px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  color: constants.$dull-white;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .heading-txt {
    font-size: 4rem;
    max-width: 100%;
  }

  .body-txt {
    max-width: 100%;
  }
}