@use "layouts"as layouts;
@use "modules"as modules;
@use "./constants";

::-webkit-scrollbar-track {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  color: constants.$white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: constants.$black;
  color: constants.$white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}