@use "layouts"as layouts;
@use "modules"as modules;
@use "./constants";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #3c3e40;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: constants.$black;
  color: constants.$white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.container {
  padding: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 32px;
  }

  // Select all the siblings of container.
  .container+.container {
    padding-top: 4.5rem;
  }
}