@use "../mixins";
@use "../constants";

header {
  height: 100vh !important;
  width: 100%;
  // background: constants.$primary-gradient;
  @include mixins.flex(row);

  h3 {
    @include mixins.font-size(32);
    font-weight: 200;
    color: constants.$dull-white;
  }


  h1 {
    @include mixins.font-size(54);
    margin-top: -1.6rem;
  }

  .social-links {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.5rem 2rem;
  }

  .social-links a {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .social-links a:first-child {
    margin-right: 1rem;
  }

  .hero-image {
    height: 65vh;
    width: 65vh;
    background-color: constants.$dull-white;
    margin-right: 80px;
  }
}