@use '../mixins';
@use '../constants';

// TODO: FIX WIDTH, it's overflowing
.main-nav {
  @include mixins.flex(row);
  position: fixed;
  width: 100%;
  justify-content: center;

  button {
    margin: 1rem 2rem {
      right: auto;
    }

    background: url("../../assets/icons/menu.svg");
    background-size: cover;
    height: 30px;
    width: 30px;
    border: none;
  }


  img {
    margin-top: 0.5rem;
    height: 2.5rem;
    position: absolute;
  }

  a {
    margin: 1rem 2rem;
  }

}