@use '../mixins';
@use "sass:math";
@use '../constants';


.navbar-exp {
  @include mixins.flex(row);
  justify-content: space-between;
  height: 100vh;
  background-color: constants.$black;
  position: fixed;
  z-index: 100;
  display: none;

  ul {
    margin: 0 7rem;
  }

  ul:first-child>li {
    margin-top: -1.5rem;
  }

  ul:first-child>li:first-child {
    margin-top: 0;
  }

  li>a {
    font-size: 6.5rem;
  }

  ul:last-child>li {
    font-size: 1.6rem;
    margin-top: 3rem;
    line-height: 1.4;
  }

  ul:last-child>li:first-child {
    margin-top: 0;
  }

  ul:last-child>li:last-child {
    color: constants.$dull-white;
  }

  .icon-btn {
    margin: 1rem 2rem;
    background: url("../../assets/icons/close.svg");
    background-size: cover;
    height: 2rem;
    width: 2rem;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
  }

}


@media screen and (max-width: 768px) {

  .navbar-exp {
    margin-left: 0;

    padding: 32px {
      top: 5rem;
    }

    ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    ul {
      margin: 0;
    }

    ul:last-child {
      margin-top: 2rem;
    }

    ul:first-child li {
      padding: 0.5rem 0;
    }

    ul:last-child {
      font-weight: 300;
    }

    li>a {
      font-size: 4rem;
    }
  }

}