@use '../mixins';
@use '../constants';

// TODO: FIX WIDTH, it's overflowing
.main-nav {
  @include mixins.flex(row);
  position: fixed;
  width: 100%;
  justify-content: space-between;

  button {
    margin: 1rem 2rem;
    // background: url("../../assets/icons/menu.svg");
    background-size: cover !important;
    height: 1.8rem;
    width: 1.8rem;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;

  }

  .icon-menu {
    background: url("../../assets/icons/menu.svg");
  }

  .icon-back {
    background: url("../../assets/icons/back.svg");
  }

  .outline-btn {
    min-width: auto !important;
    padding: 0.5rem 1rem;
  }


  img {

    margin-top: 0.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    margin: 1rem 2rem;
    justify-self: flex-end;
  }

}


@media screen and (max-width: 768px) {
  .main-nav {
    background: #0D0F13cc;

    button {
      height: 2rem;
      width: 2rem;
    }
  }
}