@use '../mixins';
@use '../constants';

// TODO: FIX WIDTH, it's overflowing
.main-nav {
  @include mixins.flex(row);
  position: fixed;
  width: 100%;
  justify-content: space-between;

  button {
    margin: 1rem 2rem;

    background: url("../../assets/icons/menu.svg");
    background-size: cover;
    height: 2rem;
    width: 2rem;
    border: none;
    cursor: pointer;
  }


  img {

    margin-top: 0.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    margin: 1rem 2rem;
    justify-self: flex-end;
  }

}