@use "../constants";

.contact-section {

  // margin-left: 40%;
  margin-bottom: 4rem;

  h1 {
    // max-width: 80%;
    line-height: 1;
  }

  // p {
  //   // max-width: 80%;
  // }

  button {
    margin-top: 1.8rem;
  }

  .outline-btn:hover {
    a {
      transition: 150ms;
      color: constants.$black;
    }
  }
}


@media screen and (max-width: 768px) {
  .contact-section {
    margin-left: 0;

    p {
      max-width: 100%;
    }

    h1 {
      max-width: 100%;
    }

    button {
      margin-top: 1.4rem;
    }
  }

}