.how-section {
  h1 {
    display: inline-block;
  }

  p {
    display: inline-block;
    margin: 0 2.5rem;
  }

  img {
    width: 100%;
    padding: 80px;
    box-sizing: border-box;
  }

}

@media screen and (max-width: 768px) {
  .how-section {
    p {
      margin: 0px {
        top: 16px;
      }
    }

    img {
      padding: 0;
      padding-top: 4.5rem;
    }
  }
}